nav {
  width: 100%;
  background-color: #212529;
}
#home {
  height: 55vh;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ccc;
}

.box .card {
  height: 380px !important;
  width: 50% !important;
}
.box2 .card {
  width: 50% !important;
}
.box2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
}
.box2 .card:nth-child(2) {
  margin: 0 0 0 25px;
}
.box .card:nth-child(2) {
  margin: 0 0 0 25px;
}
.span {
  font-weight: 200;
  color: #a0a0a0;
  font-size: 14px;
}
.box:nth-child(2) {
  margin-bottom: 40px;
  padding: 0 0 40px 0;
  border-bottom: 1px solid #ccc;
}
.page-item {
  background-color: #fff;
  padding: 6px 12px;
  color: #6c757d;
  border: 1px solid #dee2e6;
  cursor: pointer;
}
.page-item.active {
  background-color: #0d6efd;
}
.page-item.active a{
  color: #fff;
}
.page-item a,
.page-item.active {
  color: #0d6efd;
  font-weight: 400;
}
.page-item:not(.disabled):hover {
  background-color: #8d918650;
}

footer {
  height: 25vh;
  background-color: #212529;
  color: #fff;
  font-weight: 500;
}
